@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Any data saved in this cloud is encrypted by the client and the decryption keys are only on the client. The clients are anonymous, and the software has no sensitive data that can reveal the entity of who generates the encrypted data.</p>
